---
// @ts-ignore
import { Picture } from "astro:assets";
import { Icon } from "astro-icon";

const benefits = [
  {
    title: "Fokus",
    description:
      "Fokus menjadi alat penjualan produk digital, seperti e-book, desain, kode sumber, dan lainnya.",
    icon: "bx:bxs-check-circle",
  },
  {
    title: "Sederhana",
    description:
      "Doing more with less. Sebuah fitur ada karena penting, bukan karena terlihat keren.",
    icon: "bx:bxs-check-circle",
  },
  {
    title: "Terbuka",
    description:
      "Open minded dan Open Source. Sangat terbuka dengan ide dan masukan, juga terbuka dalam pengembangan.",
    icon: "bx:bxs-check-circle",
  },
];

const features = [
  {
    title: "Sederhana dan intuitif",
    description:
      "Kelola produk dengan mudah melalui halaman admin yang sederhana dan intuitif.",
    icon: "bx:bxs-check-circle",
  },
  {
    title: "Serba otomatis",
    description:
      "Pembayaran diproses otomatis, produk dikirim otomatis",
    icon: "bx:bxs-check-circle",
  },
  {
    title: "Dukungan terbaik",
    description:
      "Apabila ada kendala, kami selalu ada untuk Anda via email dan WhatsApp.",
    icon: "bx:bxs-check-circle",
  }
];

const categories = [
  {
    title: "E-book",
    description:
      "Bungkus pengetahuanmu dalam bentuk e-book. Kami yakin banyak yang ingin belajar dari kamu.",
    icon: "bx:bxs-check-circle",
  },
  {
    title: "Desain",
    description:
      "Dapatkan penghasilan dari hobi desainmu. Desain grafis, web, template Canva, Figma, dll.",
    icon: "bx:bxs-check-circle",
  },
  {
    title: "Kode Sumber",
    description:
      "Bagikan kode-kode kerenmu, atau buatkan plugin, tema, atau template untuk platform favoritmu.",
    icon: "bx:bxs-check-circle",
  },
  {
    title: "Photography",
    description:
      "Jadikan hobi fotografi sebagai sumber penghasilan. Jual foto, preset, atau template.",
    icon: "bx:bxs-check-circle",
  },
  {
    title: "Audio",
    description:
      "Jual musik, sound effect, atau podcast. Siapa tahu karyamu bisa menjadi hits!",
    icon: "bx:bxs-check-circle",
  },
  {
    title: "Video",
    description:
      "Jual video tutorial, stock footage, atau template video. Banyak yang butuh karya kamu!",
    icon: "bx:bxs-check-circle",
  },
];
---

<div class="p-8 md:px-20 md:py-20">
  <div>
    <h2
      class="text-2xl lg:text-4xl text-slate-800 font-bold lg:tracking-tight text-center">
      Jualan tenang, tanpa beban
    </h2>
    <p class="text-lg mt-4 text-slate-600 text-center max-w-3xl mx-auto">
      Tidak ada biaya bulanan, tidak ada biaya setup, tidak ada biaya tersembunyi. Hanya sedikit komisi di setiap transaksi + payment gateway fee.
    </p>
  </div>

  <!-- <div class="grid sm:grid-cols-2 md:grid-cols-3 mt-10 gap-4 md:gap-8">
    {
      benefits.map((item) => (
        <div class="flex gap-4 items-start">
          <div class="mt-1 bg-primary-600 rounded-full  p-2 w-8 h-8 shrink-0">
            <Icon class="text-white" name={item.icon} />
          </div>
          <div>
            <h3 class="font-semibold text-lg text-slate-800">{item.title}</h3>
            <p class="text-slate-500 mt-2 leading-relaxed">
              {item.description}
            </p>
          </div>
        </div>
      ))
    }
  </div> -->
</div>

<div
  class="mx-8 md:mx-20 mb-6 relative rounded-md md:rounded-lg overflow-hidden shadow-lg">
  <Picture
    src="/dashboard.png"
    width={1440}
    height={600}
    alt="JetForm - Form checkout instan untuk produk digital"
    loading="lazy"
    format="avif"
  />
</div>

<div class="p-8 md:px-20 md:py-20 mb-10">
  <div>
    <h2
      class="text-2xl lg:text-4xl text-slate-800 font-bold lg:tracking-tight text-center">
      Fokus ke bisnis, bukan teknis
    </h2>
    <p class="text-lg mt-4 text-slate-600 text-center max-w-3xl mx-auto">
      Jangan tunda peluncuran produk Anda dengan menghabiskan banyak waktu, uang, dan tenaga untuk membangun sistem penjualan sendiri. Itu adalah tugas kami, Anda bisa fokus membangun bisnis, membuat produk terbaik dan memasarkan.
    </p>
  </div>
  <div class="grid sm:grid-cols-2 md:grid-cols-3 mt-10 gap-4 md:gap-8">
    {
      features.map((item) => (
        <div class="flex gap-4 items-start">
          <div class="mt-1 bg-primary-600 rounded-full  p-2 w-8 h-8 shrink-0">
            <Icon class="text-white" name={item.icon} />
          </div>
          <div>
            <h3 class="font-semibold text-lg text-slate-800">{item.title}</h3>
            <p class="text-slate-500 mt-2 leading-relaxed">
              {item.description}
            </p>
          </div>
        </div>
      ))
    }
  </div>
</div>

<!-- <div class="p-8 md:px-0 md:py-20">
  <h2
    class="text-2xl lg:text-4xl text-slate-800 font-bold lg:tracking-tight text-center">
    Bingung <span class="font-bold text-primary-500">mau jual apa?</span>
  </h2>
  <p class="text-lg mt-4 text-slate-600 text-center">
    Jangan khawatir, kamu bisa mulai dengan menjual apa yang kamu tahu 😜<br />Berikut
    adalah beberapa jenis produk yang kamu bisa jual dengan JetForm.
  </p>
  <div class="text-center mt-4 hidden md:flex">
    <a
      href="https://app.jetform.id/upkoding/zero-to-programmer-ebook?utm_source=jetform-website&utm_medium=product-example-cta"
      class="bg-yellow-50 hover:bg-yellow-100 text-yellow-600 text-sm border border-yellow-600 py-2 px-4 rounded-full mx-auto"
      target="_blank"
      ><Icon class="text-yellow-600 w-4 h-4 me-1 inline" name="mdi:download" /> Contoh
      produk: E-book "Zero To Programmer"</a
    >
  </div>
  <div class="grid sm:grid-cols-2 md:grid-cols-3 mt-10 gap-4 md:gap-8">
    {
      categories.map((item) => (
        <div class="flex gap-4 items-start border rounded-md shadow-md text-center p-6 bg-white">
          <div>
            <h3 class="font-bold text-lg text-slate-800">{item.title}</h3>
            <p class="text-slate-500 mt-2 leading-relaxed">
              {item.description}
            </p>
          </div>
        </div>
      ))
    }
  </div>
</div> -->
