---
// @ts-ignore
import { Picture } from "astro:assets";
import { Icon } from "astro-icon";

const benefits = [
  {
    title: "Fokus",
    description:
      "Fokus menjadi alat penjualan produk digital, seperti e-book, desain, kode sumber, dan lainnya.",
    icon: "bx:bxs-check-circle",
  },
  {
    title: "Sederhana",
    description:
      "Doing more with less. Sebuah fitur ada karena penting, bukan karena terlihat keren.",
    icon: "bx:bxs-check-circle",
  },
  {
    title: "Terbuka",
    description:
      "Open minded dan Open Source. Sangat terbuka dengan ide dan masukan, juga terbuka dalam pengembangan.",
    icon: "bx:bxs-check-circle",
  },
];

const features = [
  {
    title: "Kelola Produk",
    description:
      "Kelola produk dengan mudah. Edit produk secara interaktif, apa yang kamu lihat sama dengan yang akan pembeli lihat.",
    icon: "bx:bxs-check-circle",
  },
  {
    title: "Terima Pembayaran",
    description:
      "Pembayaran diproses secara real-time melalui metode pembayaran yang sudah sangat umum yaitu QRIS dan Transfer Bank (VA).",
    icon: "bx:bxs-check-circle",
  },
  {
    title: "Distribusi Produk",
    description:
      "Akses ke produk otomatis dikirimkan ke pembeli setelah pembayaran berhasil.",
    icon: "bx:bxs-check-circle",
  },
  {
    title: "Produk Gratis / Berbayar",
    description:
      "Kamu bisa menawarkan produk gratis sebagai lead-magnet. Atau produk berbayar biasa, atau produk dengan multi-varian.",
    icon: "bx:bxs-check-circle",
  },
  {
    title: "Analitik Produk",
    description:
      "Lihat statistik kunjungan dan penjualan produk secara real-time. Dapatkan insight yang berguna untuk pengembangan produk.",
    icon: "bx:bxs-check-circle",
  },
  {
    title: "Kaya Integrasi",
    description:
      "Integrasikan dengan layanan lain seperti email marketing, notifikasi dan layanan lain yang kamu butuhkan melalui Zapier.",
    icon: "bx:bxs-check-circle",
  },
];

const categories = [
  {
    title: "E-book",
    description:
      "Bungkus pengetahuanmu dalam bentuk e-book. Kami yakin banyak yang ingin belajar dari kamu.",
    icon: "bx:bxs-check-circle",
  },
  {
    title: "Desain",
    description:
      "Dapatkan penghasilan dari hobi desainmu. Desain grafis, web, template Canva, Figma, dll.",
    icon: "bx:bxs-check-circle",
  },
  {
    title: "Kode Sumber",
    description:
      "Bagikan kode-kode kerenmu, atau buatkan plugin, tema, atau template untuk platform favoritmu.",
    icon: "bx:bxs-check-circle",
  },
  {
    title: "Photography",
    description:
      "Jadikan hobi fotografi sebagai sumber penghasilan. Jual foto, preset, atau template.",
    icon: "bx:bxs-check-circle",
  },
  {
    title: "Audio",
    description:
      "Jual musik, sound effect, atau podcast. Siapa tahu karyamu bisa menjadi hits!",
    icon: "bx:bxs-check-circle",
  },
  {
    title: "Video",
    description:
      "Jual video tutorial, stock footage, atau template video. Banyak yang butuh karya kamu!",
    icon: "bx:bxs-check-circle",
  },
];
---

<div class="p-8 md:px-0 md:py-20 bg-gradient-to-b from-primary-50">
  <div>
    <h2
      class="text-2xl lg:text-4xl text-slate-700 font-bold lg:tracking-tight text-center">
      Kenapa harus coba <span class="font-bold text-primary-500">JetForm?</span>
    </h2>
    <p class="text-lg mt-4 text-slate-600 text-center max-w-4xl mx-auto">
      JetForm dibangun dari Nol khusus buat mereka yang berbisnis produk
      digital. Fokus pada kesederhanaan dan kemudahan pemakaian, cocok buat kamu
      yang baru belajar menjual namun dilengkapi juga dengan fitur cukup
      powerful untuk mereka yang sudah berpengalaman.
    </p>
  </div>

  <div class="grid sm:grid-cols-2 md:grid-cols-3 mt-10 gap-4 md:gap-8">
    {
      benefits.map((item) => (
        <div class="flex gap-4 items-start">
          <div class="mt-1 bg-primary-500 rounded-full  p-2 w-8 h-8 shrink-0">
            <Icon class="text-white" name={item.icon} />
          </div>
          <div>
            <h3 class="font-semibold text-lg text-slate-700">{item.title}</h3>
            <p class="text-slate-500 mt-2 leading-relaxed">
              {item.description}
            </p>
          </div>
        </div>
      ))
    }
  </div>
</div>

<div
  class="mx-8 md:mx-20 mb-6 md:-mb-8 relative rounded-md md:rounded-lg overflow-hidden shadow-md">
  <Picture
    src="/dashboard.png"
    width={1440}
    height={600}
    alt="JetForm - Solusi pintar menjual produk digital"
    loading="lazy"
    format="avif"
  />
</div>

<div class="p-8 md:px-20 md:py-20 bg-white border md:rounded-lg">
  <div>
    <h2
      class="text-2xl lg:text-4xl text-slate-700 font-bold lg:tracking-tight text-center">
      JetForm <span class="font-bold text-primary-500">bisa apa saja?</span>
    </h2>
    <p class="text-lg mt-4 text-slate-600 text-center">
      <strong>JetForm fokus pada tiga area penting</strong> yang menurut kami harus
      ada untuk kelancaran menjual produk digital di Internet. Mereka adalah
      <strong>Produk, Pembayaran dan Distribusi</strong>. Namun kami juga
      menyertakan beberapa fitur yang akan menjadikan pengalaman menjual kamu
      lebih mudah dan menyenangkan.
    </p>
  </div>
  <div class="grid sm:grid-cols-2 md:grid-cols-3 mt-10 gap-4 md:gap-8">
    {
      features.map((item) => (
        <div class="flex gap-4 items-start">
          <div class="mt-1 bg-primary-500 rounded-full  p-2 w-8 h-8 shrink-0">
            <Icon class="text-white" name={item.icon} />
          </div>
          <div>
            <h3 class="font-semibold text-lg text-slate-700">{item.title}</h3>
            <p class="text-slate-500 mt-2 leading-relaxed">
              {item.description}
            </p>
          </div>
        </div>
      ))
    }
  </div>
</div>

<div class="p-8 md:px-0 md:py-20">
  <h2
    class="text-2xl lg:text-4xl text-slate-700 font-bold lg:tracking-tight text-center">
    Bingung <span class="font-bold text-primary-500">mau jual apa?</span>
  </h2>
  <p class="text-lg mt-4 text-slate-600 text-center">
    Jangan khawatir, kamu bisa mulai dengan menjual apa yang kamu tahu 😜<br />Berikut
    adalah beberapa jenis produk yang kamu bisa jual dengan JetForm.
  </p>
  <div class="text-center mt-4 hidden md:flex">
    <a
      href="https://app.jetform.me/upkoding/zero-to-programmer-ebook?utm_source=jetform-website&utm_medium=product-example-cta"
      class="bg-yellow-50 hover:bg-yellow-100 text-yellow-600 text-sm border border-yellow-600 py-2 px-4 rounded-full mx-auto"
      target="_blank"
      ><Icon class="text-yellow-600 w-4 h-4 me-1 inline" name="mdi:download" /> Contoh
      produk: E-book "Zero To Programmer"</a
    >
  </div>
  <div class="grid sm:grid-cols-2 md:grid-cols-3 mt-10 gap-4 md:gap-8">
    {
      categories.map((item) => (
        <div class="flex gap-4 items-start border rounded-md shadow-md text-center p-6 bg-white">
          <div>
            <h3 class="font-bold text-lg text-slate-700">{item.title}</h3>
            <p class="text-slate-500 mt-2 leading-relaxed">
              {item.description}
            </p>
          </div>
        </div>
      ))
    }
  </div>
</div>
