---
// @ts-ignore
import { Picture } from "astro:assets";
import { Icon } from "astro-icon";

const benefits = [
  {
    title: "Hemat Waktu & Tenaga",
    description:
      "Anda fokus memasarkan produk dan mendatangkan trafik. Lebih banyak waktu buat keluarga.",
    icon: "bx:bxs-check-shield",
  },
  {
    title: "Biaya Fleksibel",
    description:
      "Pilih paket harga sesuai kebutuhan. Tidak perlu bayar mahal untuk fitur yang tidak digunakan.",
    icon: "bx:bxs-check-shield",
  },
  {
    title: "Anti Ribet",
    description:
      "Upload produk dan anda langsung jualan. Tidak perlu memikirkan biaya maintenance, server, dan lainnya.",
    icon: "bx:bxs-check-shield",
  },
  {
    title: "Pembeli Happy!",
    description:
      "Pembeli otomatis mendapatkan produk begitu pembayaran berhasil. Goodbye proses manual!",
    icon: "bx:bxs-check-shield",
  },
  {
    title: "Spesialis Produk Digital",
    description:
      "Cocok untuk menjual produk seperti e-book, software, video, dan lainnya.",
    icon: "bx:bxs-check-shield",
  },
  {
    title: "Jangkau Berbagai Kalangan",
    description:
      "Pembeli melakukan pembayaran dengan metode yang mereka suka seperti QRIS atau Virtual Account.",
    icon: "bx:bxs-check-shield",
  },
];

const features = [
  {
    title: "Mudah digunakan",
    description:
      "Dibangun dari Nol mengutamakan kemudahan pemakaian oleh penjual ataupun pembeli.",
    icon: "bx:bxs-check-shield",
  },
  {
    title: "Bisa diandalkan",
    description:
      "Memastikan produk Anda bisa diakses kapanpun dan dimanapun. Anda bisa bekerja kapanpun, dimanapun.",
    icon: "bx:bxs-check-shield",
  },
  {
    title: "Ekstensibel",
    description:
      "Dengan dukungan API dan Zapier, Anda bisa membuat integrasi khusus sesuai kebutuhan.",
    icon: "bx:bxs-check-shield",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl text-slate-700 font-bold lg:tracking-tight">
    Menjual lebih banyak, <span class="font-bold text-primary-500"
      ><i>capek</i> lebih sedikit.</span
    >
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Tidak perlu terjaga 24 jam untuk memastikan toko Anda selalu online dan
    memastikan pesanan sudah diproses. <strong>Itu adalah tugas JetForm.</strong
    > Anda bisa fokus pada hal penting lainnya seperti promosi, pemasaran, atau mewujudkan
    ide baru anda menjadi sebuah produk.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-4 md:gap-16">
  {
    benefits.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-primary-500 rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg text-slate-700">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>

<div class="mt-16">
  <Picture
    src="/dashboard.jpg"
    width={1440}
    height={600}
    alt="JetForm - Solusi pintar menjual produk digital"
    loading="lazy"
    format="avif"
  />
  <hr />

  <h2
    class="mt-6 text-4xl lg:text-5xl text-slate-700 font-bold lg:tracking-tight text-">
    Simple, <span class="font-bold text-primary-500">yet powerful.</span>
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Ucapkan selamat tinggal pada sistem yang kompleks dan membingungkan. Anda
    ingin <strong>up and running dengan cepat!</strong>. Didukung teknologi yang <strong
      >sangat bisa diandalkan serta dukungan langsung dari developer yang
      berpengalaman</strong
    >, JetForm tidak akan membiarkan satu order pun terlewatkan oleh anda.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-4 md:gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-primary-500 rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg text-slate-700">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>

<div class="mt-16">
  <Picture
    src="/integrations.png"
    width={1440}
    height={600}
    alt="JetForm - Solusi pintar menjual produk digital"
    loading="lazy"
    format="avif"
  />
  <h2
    class="mt-6 text-4xl lg:text-5xl text-slate-700 font-bold lg:tracking-tight text-">
    Kaya integrasi, <span class="font-bold text-primary-500"
      >developer friendly.</span
    >
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    JetForm mungkin sederhana, tetapi jangan salah. Kami membuka JetForm untuk
    diintegrasikan dengan aplikasi atau platform favorit Anda. Tidak hanya satu
    atau dua, melainkan dengan ribuan aplikasi pihak ketiga dengan menggunakan
    layanan integrasi dari <a
      href="https://zapier.com/"
      target="_blank"
      class="text-primary-500"
      rel="nofollow noreferrer">Zapier</a
    > (platform integrasi kelas dunia).
  </p>

  <p class="text-lg mt-4 text-slate-600">
    <strong>Apakah Anda seorang developer?</strong>
    <i>we got you covered!</i> JetForm menyediakan API yang bisa Anda gunakan untuk
    membuat integrasi khusus sesuai keperluan Anda. Selain itu, <strong
      >JetForm bangga dengan menjadi proyek yang <a
        href="https://github.com/jetform-dev"
        class="text-primary-500"
        target="_blank">100% Open Source</a
      ></strong
    >, Anda bisa melihat kode sumbernya dan berkontribusi untuk membuat JetForm
    menjadi lebih baik.
  </p>
</div>
