---
import { SEO } from "astro-seo";
import Footer from "@components/footer.astro";
import Navbar from "@components/navbar/navbar.astro";
import "@fontsource-variable/inter/index.css";

export interface Props {
  title: string;
  title_suffix?: string;
  description?: string;
  image?: string;
}

const { title, title_suffix, description, image } = Astro.props;
const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

const resolvedImageWithDomain = new URL(
  image ? image : "/opengraph.jpg",
  Astro.site,
).toString();

const makeTitle = title
  ? title
  : "JetForm - Solusi pintar menjual produk digital!";
const makeSuffix = title_suffix ? title_suffix : " | JetForm";
const makeTitleWithSuffix = `${makeTitle}${makeSuffix}`;

const makeDesc = description
  ? description
  : "Toko online auto-pilot khusus produk digital. Memproses pesanan, memvalidasi pembayaran hingga mengirimkan produk, semua otomatis dan real-time.";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.ico" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon.png" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="generator" content={Astro.generator} />
    <SEO
      title={makeTitleWithSuffix}
      description={makeDesc}
      canonical={canonicalURL}
      twitter={{
        creator: "@ekaputra07",
        site: "@ekaputra07",
        card: "summary_large_image",
        title: makeTitleWithSuffix,
        description: makeDesc,
        image: resolvedImageWithDomain,
        imageAlt: "JetForm Homepage Screenshot",
      }}
      openGraph={{
        basic: {
          url: canonicalURL,
          type: "website",
          title: makeTitleWithSuffix,
          image: resolvedImageWithDomain,
        },
        optional: {
          description: makeDesc,
        },
        image: {
          alt: "JetForm Homepage Screenshot",
        },
      }}
    />
    <script
      defer
      src="https://analytics.us.umami.is/script.js"
      data-website-id="ed597fe6-117f-49c6-98eb-b76fc8c8e96b"></script>
  </head>
  <body>
    <div class="mx-auto max-w-5xl">
      <Navbar />
      <slot />
      <Footer />
    </div>
    <style is:global>
      /* Improve Page speed */
      /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
      img {
        content-visibility: auto;
      }
    </style>
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
      var Tawk_API = Tawk_API || {},
        Tawk_LoadStart = new Date();
      (function () {
        var s1 = document.createElement("script"),
          s0 = document.getElementsByTagName("script")[0];
        s1.async = true;
        s1.src = "https://embed.tawk.to/65db3ebb8d261e1b5f653056/1hng6q3bl";
        s1.charset = "UTF-8";
        s1.setAttribute("crossorigin", "*");
        s0.parentNode.insertBefore(s1, s0);
      })();
    </script>
    <!--End of Tawk.to Script-->
  </body>
</html>
